#canvas-container {
   width: 100%;
   text-align:center;
}

canvas {
    display: inline;
    margin-bottom: 20px;
    margin-top: 20px;
}

.vcenter {
    vertical-align: middle;
}

a, a:link, a:visited, a:hover, a:active {
    color: darkred;
}

a:hover {
    text-decoration: underline;
}

progress {
    background-color: #444;
    color: darkred;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

progress::-webkit-progress-bar {
    background-color: #444;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

progress::-webkit-progress-value {
    background-color: darkred;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

progress::-moz-progress-bar {
    background-color: #444;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

body {
    background: none repeat scroll 0 0 #ffffff;
}

p.subtitile {
	color: #999;
	margin: 0 0 3.5em;
}
section h3 {
	font-size: 1.3em;
	font-weight: 300;
	margin: 0.8em 0;
	text-transform: uppercase;
}
section p {
	font-size: 1.0em;
}

#first-block, #second-block, #third-block, #fourth-block {
	text-align: center;
}

section h1 {
	color: #fff;
	font-size: 2.5em;
	font-weight: 300;
	text-transform: uppercase;
}

#first-block i {
	background: none repeat scroll 0 0 darkred;
	border-radius: 80px;
	color: #fff;
	display: block;
	line-height: 80px;
	margin: 0 auto;
	width: 80px;
}

thead td {
    font-size: 1.2em;
    font-weight: 200;
}

footer {
    background: #262626;
}

a.white {
    color: #ffffff;
}