<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
      {% block head %}
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>Gravityvolve!</title>
      <link rel="stylesheet" href="/static/css/components.css">
      <link rel="stylesheet" href="/static/css/responsee.css">

      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" href="/static/css/custom.css">

      <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
      <script type="text/javascript" src="/static/js/modernizr.js"></script>
      <script type="text/javascript" src="/static/js/responsee.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
      {% endblock %}
    </head>
    <body class="size-1140" {% block bodyproperties %}{% endblock %}>
        <header>
            <nav>
                <div class="line">
                    <div class="s-12 l-12 top-nav">
                        <ul>
                            <li><img style="padding-right: 20px; padding-top: 5px" src="/static/img/logo.png"></li>
                            <li><a href="/">Play</a></li>
                            <li><a href="{{ menu.maps }}">Maps</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div id="second-block">
                <div class="s-12 l-10 center">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div id="first-block">
                <div class="s-12 l-10 center">
                    {% block intro %}
                    {% endblock %}
                </div>
            </div>

        </section>
    </body>
</html>
{% endautoescape %}
