{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
    <script src="/static/js/easeljs-0.7.1.min.js"></script>
    <script src="/static/js/preloadjs-0.4.0.min.js"></script>
    <script src="/static/js/planet.js"></script>
    <script src="/static/js/main.js"></script>
{% endblock %}
{% block bodyproperties %}
    onload="init()"
{% endblock %}
{% block intro %}
        <div class="line">
            <div class="margin">
                <div class="s-12 l-4 margin-bottom">
                    <i class="icon-white_question icon2x"></i>
                    <h3>About</h3>
                    <p>
                        Welcome to Gravityvolve! You have to put the red ball over the hole. Drag the ball to set the
                        angle and the direction of each throw. Remember you are in the outer space, so keep in mind the
                        gravity!
                    </p>
                </div>
                <div class="s-12 l-4 margin-bottom">
                    <i class="icon-trophy icon2x"></i>
                    <h3>Your help</h3>
                    <p>
                        Right after you complete a level, you should rate its level of difficulty in order to play
                        another one. There are not an infinite number of maps (for the moment), when you evaluate all
                        maps, your invaluable work here will be concluded.
                    </p>
                </div>
                <div class="s-12 l-4 margin-bottom">
                    <i class="icon-paperplane_ico icon2x"></i>
                    <h3>Contact</h3>
                    <p>
                        Send your comments, suggestions, thoughts, complaints, ... to raul.r_emove_me.@lcc.uma.es (you
                        know what to remove...)
                    </p>
                </div>
            </div>
        </div>
{% endblock %}
{% block content %}
    <div class="s-12 l-12 padding">
        <p><strong>Your progress</strong>:    <progress value="{{ maps_done }}" max="{{ total_maps }}"></progress> {{ maps_done }}/{{ total_maps }} maps</p>
    </div>
    <div id="canvas-container">
        <canvas id="gameCanvas" width="{{ canvas_width }}" height="{{ canvas_height }}" style="border: thin black solid;">
            HTML5 not supported by your browser!
        </canvas>
    </div>
{% endblock %}
