{% extends "base.html" %}
{% block content %}
<div class="line margin-bottom">
    <table>
        <thead>
            <tr>
                <td>Fitness Type</td>
                <td>Level</td>
                <td>Voted Hard</td>
                <td>Voted Medium</td>
                <td>Voted Easy</td>
                <td>Total Votes</td>
            </tr>
        </thead>
        <tbody>
            {% for m,v in maps_votes %}
            <tr>
                <td>{{ m.ftype_string }}</td>
                <td>{{ m.level_string }}</td>
                <td>{{ v[0] }}</td>
                <td>{{ v[1] }}</td>
                <td>{{ v[2] }}</td>
                <td>{{ v[0]+v[1]+v[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
