{% extends "base.html" %}
{% block content %}
    <form name="vote" class="customform" onsubmit="return validateForm()" method="post">
        <div class="line">
            <div class="margin">
                <div class="s-12 l-12">
                    <p>Please rate this level's difficulty:</p>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="margin">
                <div class="s-12 l-6">
                    <input name="rbDiff" value="-1" type="radio" /><label>Easy</label>
                    <input name="rbDiff" value="0" type="radio" /><label>Medium</label>
                    <input name="rbDiff" value="1" type="radio" /><label>Hard</label>
                </div>
                <div class="s-12 l-6">
                    <button type="submit">Vote</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        function validateForm() {
            var x = document.forms["vote"]["rbDiff"].value;
            if (x == null || x == "") {
                alert("Please select a vote: Easy, Medium or Hard");
                return false;
            }
        }
    </script>
{% endblock %}